# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node dependencies
node_modules/

# Expo & React Native
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/
*.expo/

# Native build artifacts & credentials
.android/
.ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Kotlin/Java
.kotlin/
*.orig.*

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Certificates
*.pem

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# VSCode settings
.vscode/

# Misc
*.log

.gitignore